[Desktop Entry]
Name=Yazi File Manager
Icon=yazi
Type=Application
Terminal=false
Exec=yazi-window %f
Categories=System;FileTools;FileManager;
MimeType=inode/directory;
