
headerbar image, toolbar image, .sidebar image { -gtk-icon-size: 20px; }
check, radio { min-width: 16px; min-height: 16px; }
button, entry, spinbutton, dropdown > button { min-height: 22px; padding-top: 3px; padding-bottom: 3px; }
popover.menu modelbutton { min-height: 26px; }
